# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Markdown
*.md text=auto eol=lf

# Scripts
*.js text=auto eol=lf
*.mjs text=auto eol=lf
*.cjs text=auto eol=lf

# Ensure shell scripts keep LF
*.sh text eol=lf

# Binary
*.png binary
*.jpg binary
*.webp binary
*.ico binary